.DS_STORE
.vagrant
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
Laravel55/node_modules
Laravel55/public/hot
Laravel55/public/storage
Laravel55/storage/*.key
Laravel55/vendor
Laravel55/.idea
Laravel55/.vagrant
Laravel55/Homestead.json
Laravel55/Homestead.yaml
Laravel55/npm-debug.log
Laravel55/yarn-error.log
Laravel55/.env
